<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GymAppConnection" connectionString="Data Source=.;Initial Catalog=GymApp;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AesKey" value="GymAppProdKey32Chars!Cambiar2026" />
    <add key="AesIV" value="GymAppProdIV16C!" />
  </appSettings>
</configuration>
