USE [master]
GO
/****** Object:  Database [GymApp]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE DATABASE [GymApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GymApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GymApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GymApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GymApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymApp]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Calcular1RM]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- FUNCIONES ESCALARES
-- =============================================

-- Fórmula de Epley: 1RM = peso × (1 + repeticiones / 30)
-- Calcula la repetición máxima estimada a partir del peso y las repeticiones realizadas.
CREATE FUNCTION [dbo].[fn_Calcular1RM](
    @peso           DECIMAL(6,2),
    @repeticiones   INT
)
RETURNS DECIMAL(6,2)
AS
BEGIN
    DECLARE @rm DECIMAL(6,2);

    IF @repeticiones = 1
        SET @rm = @peso;
    ELSE IF @repeticiones > 1 AND @repeticiones <= 30
        SET @rm = ROUND(@peso * (1.0 + CAST(@repeticiones AS DECIMAL(6,2)) / 30.0), 2);
    ELSE
        SET @rm = NULL;

    RETURN @rm;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Obtener1RMAlumno]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtiene el 1RM registrado más reciente para un alumno y ejercicio.
-- Si no existe registro, devuelve NULL.
CREATE FUNCTION [dbo].[fn_Obtener1RMAlumno](
    @dni            INT,
    @codEjercicio   INT
)
RETURNS DECIMAL(6,2)
AS
BEGIN
    DECLARE @pesoRM DECIMAL(6,2);

    SELECT TOP 1 @pesoRM = pesoRM
    FROM AlumnoRM
    WHERE dni = @dni AND codEjercicio = @codEjercicio
    ORDER BY fechaRM DESC;

    RETURN @pesoRM;
END;
GO
/****** Object:  Table [dbo].[Actividad_Alumno]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad_Alumno](
	[dni] [int] NOT NULL,
	[codActividad] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Actividad_Alumno] PRIMARY KEY CLUSTERED 
(
	[dni] ASC,
	[codActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actividad_Entrenador]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad_Entrenador](
	[codActividad] [int] NOT NULL,
	[dniEntrenador] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Actividad_Entrenador] PRIMARY KEY CLUSTERED 
(
	[codActividad] ASC,
	[dniEntrenador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[codActividad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[cantXSemana] [int] NOT NULL,
	[costoInterno] [decimal](10, 2) NOT NULL,
	[precioAlumno] [decimal](10, 2) NOT NULL,
	[activo] [bit] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[codActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlumnoRM]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoRM](
	[codRM] [int] IDENTITY(1,1) NOT NULL,
	[dni] [int] NOT NULL,
	[codEjercicio] [int] NOT NULL,
	[pesoRM] [decimal](6, 2) NOT NULL,
	[fechaRM] [date] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AlumnoRM] PRIMARY KEY CLUSTERED 
(
	[codRM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AlumnoRM_DniEjercicioFecha] UNIQUE NONCLUSTERED 
(
	[dni] ASC,
	[codEjercicio] ASC,
	[fechaRM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[dni] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[fechaNacimiento] [date] NOT NULL,
	[peso] [decimal](5, 2) NULL,
	[activo] [bit] NOT NULL,
	[usr] [varchar](50) NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicio]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[codEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[grupoMuscular] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ejercicio] PRIMARY KEY CLUSTERED 
(
	[codEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ejercicio_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrenadores]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrenadores](
	[dni] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[fechaNacimiento] [date] NOT NULL,
	[activo] [bit] NOT NULL,
	[usr] [varchar](50) NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Entrenadores] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[codEvento] [int] IDENTITY(1,1) NOT NULL,
	[usr] [varchar](50) NULL,
	[fecha] [datetime] NULL,
	[modulo] [varchar](100) NULL,
	[descripcion] [varchar](500) NULL,
	[criticidad] [int] NULL,
	[dvv] [varchar](50) NULL,
	[dvh] [varchar](256) NULL,
	[tipo] [varchar](256) NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[codEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[familiaId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[profundidad] [bit] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[familiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_Familia]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Familia](
	[idPerfil] [int] NOT NULL,
	[idFamilia] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil_Familia] PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC,
	[idFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_Permiso]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Permiso](
	[idPerfil] [int] NOT NULL,
	[idPermiso] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC,
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[nombrePerfil] [varchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Perfiles_Nombre] UNIQUE NONCLUSTERED 
(
	[nombrePerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[permisoId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[permisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Permiso_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoFamilia]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoFamilia](
	[permisoId] [int] NOT NULL,
	[familiaId] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PermisoFamilia] PRIMARY KEY CLUSTERED 
(
	[permisoId] ASC,
	[familiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PesoHistorial]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesoHistorial](
	[codPeso] [int] IDENTITY(1,1) NOT NULL,
	[dni] [int] NOT NULL,
	[peso] [decimal](5, 2) NOT NULL,
	[fecha] [date] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PesoHistorial] PRIMARY KEY CLUSTERED 
(
	[codPeso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RutinaEjercicio]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutinaEjercicio](
	[codRutinaEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[codRutina] [int] NOT NULL,
	[codEjercicio] [int] NOT NULL,
	[series] [int] NOT NULL,
	[repeticiones] [int] NOT NULL,
	[pesoLevantado] [decimal](6, 2) NOT NULL,
	[porcentaje1RM] [decimal](5, 2) NULL,
	[descansoSegundos] [int] NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
	[volumen]  AS (([series]*[repeticiones])*[pesoLevantado]),
 CONSTRAINT [PK_RutinaEjercicio] PRIMARY KEY CLUSTERED 
(
	[codRutinaEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[codRutina] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fecha] [date] NOT NULL,
	[dniAlumno] [int] NOT NULL,
	[dniEntrenador] [int] NOT NULL,
	[codActividad] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rutinas] PRIMARY KEY CLUSTERED 
(
	[codRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_Contras]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_Contras](
	[usr] [varchar](50) NOT NULL,
	[contra] [varchar](255) NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO_Contras] PRIMARY KEY CLUSTERED 
(
	[usr] ASC,
	[contra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_Intentos]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_Intentos](
	[usr] [varchar](50) NOT NULL,
	[intentos] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO_Intentos] PRIMARY KEY CLUSTERED 
(
	[usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Perfil]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Perfil](
	[usr] [varchar](50) NOT NULL,
	[idPerfil] [int] NOT NULL,
	[dvv] [varchar](50) NOT NULL,
	[dvh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario_Perfil] PRIMARY KEY CLUSTERED 
(
	[usr] ASC,
	[idPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 5/24/2026 10:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[usr] [varchar](50) NOT NULL,
	[contra] [varchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[intentos] [int] NOT NULL,
	[dvv] [varchar](50) NULL,
	[dvh] [varchar](50) NULL,
	[rol] [int] NOT NULL DEFAULT 4,
	[primerLogin] [bit] NOT NULL DEFAULT 1,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Actividad_Alumno_codActividad]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Actividad_Alumno_codActividad] ON [dbo].[Actividad_Alumno]
(
	[codActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlumnoRM_Alumno]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoRM_Alumno] ON [dbo].[AlumnoRM]
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlumnoRM_AlumnoEjercicio]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoRM_AlumnoEjercicio] ON [dbo].[AlumnoRM]
(
	[dni] ASC,
	[codEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlumnoRM_Ejercicio]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoRM_Ejercicio] ON [dbo].[AlumnoRM]
(
	[codEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Alumnos_usr]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Alumnos_usr] ON [dbo].[Alumnos]
(
	[usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Entrenadores_usr]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Entrenadores_usr] ON [dbo].[Entrenadores]
(
	[usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Evento_fecha]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Evento_fecha] ON [dbo].[Evento]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Evento_usr]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Evento_usr] ON [dbo].[Evento]
(
	[usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PesoHistorial_Alumno]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_PesoHistorial_Alumno] ON [dbo].[PesoHistorial]
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PesoHistorial_Fecha]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_PesoHistorial_Fecha] ON [dbo].[PesoHistorial]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RutinaEjercicio_Ejercicio]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_RutinaEjercicio_Ejercicio] ON [dbo].[RutinaEjercicio]
(
	[codEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RutinaEjercicio_Rutina]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_RutinaEjercicio_Rutina] ON [dbo].[RutinaEjercicio]
(
	[codRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutinas_dniAlumno]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rutinas_dniAlumno] ON [dbo].[Rutinas]
(
	[dniAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutinas_dniEntrenador]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rutinas_dniEntrenador] ON [dbo].[Rutinas]
(
	[dniEntrenador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutinas_fecha]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rutinas_fecha] ON [dbo].[Rutinas]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Perfil_usr]    Script Date: 5/24/2026 10:37:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Perfil_usr] ON [dbo].[Usuario_Perfil]
(
	[usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Entrenadores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Evento] ADD  CONSTRAINT [DF__Evento__fecha__19DFD96B]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Familia] ADD  DEFAULT ((0)) FOR [profundidad]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[USUARIO_Intentos] ADD  DEFAULT ((0)) FOR [intentos]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF__USUARIOS__activo__4AB81AF0]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF__USUARIOS__bloqueado]  DEFAULT ((0)) FOR [bloqueado]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF__USUARIOS__intentos]  DEFAULT ((0)) FOR [intentos]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF__USUARIOS__rol]  DEFAULT ((4)) FOR [rol]
GO
ALTER TABLE [dbo].[Actividad_Alumno]  WITH CHECK ADD  CONSTRAINT [FK_ActividadAlumno_Actividad] FOREIGN KEY([codActividad])
REFERENCES [dbo].[Actividades] ([codActividad])
GO
ALTER TABLE [dbo].[Actividad_Alumno] CHECK CONSTRAINT [FK_ActividadAlumno_Actividad]
GO
ALTER TABLE [dbo].[Actividad_Alumno]  WITH CHECK ADD  CONSTRAINT [FK_ActividadAlumno_Alumno] FOREIGN KEY([dni])
REFERENCES [dbo].[Alumnos] ([dni])
GO
ALTER TABLE [dbo].[Actividad_Alumno] CHECK CONSTRAINT [FK_ActividadAlumno_Alumno]
GO
ALTER TABLE [dbo].[Actividad_Entrenador]  WITH CHECK ADD  CONSTRAINT [FK_ActividadEntrenador_Actividad] FOREIGN KEY([codActividad])
REFERENCES [dbo].[Actividades] ([codActividad])
GO
ALTER TABLE [dbo].[Actividad_Entrenador] CHECK CONSTRAINT [FK_ActividadEntrenador_Actividad]
GO
ALTER TABLE [dbo].[Actividad_Entrenador]  WITH CHECK ADD  CONSTRAINT [FK_ActividadEntrenador_Entrenador] FOREIGN KEY([dniEntrenador])
REFERENCES [dbo].[Entrenadores] ([dni])
GO
ALTER TABLE [dbo].[Actividad_Entrenador] CHECK CONSTRAINT [FK_ActividadEntrenador_Entrenador]
GO
ALTER TABLE [dbo].[AlumnoRM]  WITH CHECK ADD  CONSTRAINT [FK_AlumnoRM_Alumno] FOREIGN KEY([dni])
REFERENCES [dbo].[Alumnos] ([dni])
GO
ALTER TABLE [dbo].[AlumnoRM] CHECK CONSTRAINT [FK_AlumnoRM_Alumno]
GO
ALTER TABLE [dbo].[AlumnoRM]  WITH CHECK ADD  CONSTRAINT [FK_AlumnoRM_Ejercicio] FOREIGN KEY([codEjercicio])
REFERENCES [dbo].[Ejercicio] ([codEjercicio])
GO
ALTER TABLE [dbo].[AlumnoRM] CHECK CONSTRAINT [FK_AlumnoRM_Ejercicio]
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Usuario] FOREIGN KEY([usr])
REFERENCES [dbo].[USUARIOS] ([usr])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Usuario]
GO
ALTER TABLE [dbo].[Entrenadores]  WITH CHECK ADD  CONSTRAINT [FK_Entrenadores_Usuario] FOREIGN KEY([usr])
REFERENCES [dbo].[USUARIOS] ([usr])
GO
ALTER TABLE [dbo].[Entrenadores] CHECK CONSTRAINT [FK_Entrenadores_Usuario]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([usr])
REFERENCES [dbo].[USUARIOS] ([usr])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
ALTER TABLE [dbo].[Perfil_Familia]  WITH CHECK ADD  CONSTRAINT [FK_PerfilFamilia_Familia] FOREIGN KEY([idFamilia])
REFERENCES [dbo].[Familia] ([familiaId])
GO
ALTER TABLE [dbo].[Perfil_Familia] CHECK CONSTRAINT [FK_PerfilFamilia_Familia]
GO
ALTER TABLE [dbo].[Perfil_Familia]  WITH CHECK ADD  CONSTRAINT [FK_PerfilFamilia_Perfil] FOREIGN KEY([idPerfil])
REFERENCES [dbo].[Perfiles] ([idPerfil])
GO
ALTER TABLE [dbo].[Perfil_Familia] CHECK CONSTRAINT [FK_PerfilFamilia_Perfil]
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermiso_Perfil] FOREIGN KEY([idPerfil])
REFERENCES [dbo].[Perfiles] ([idPerfil])
GO
ALTER TABLE [dbo].[Perfil_Permiso] CHECK CONSTRAINT [FK_PerfilPermiso_Perfil]
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermiso_Permiso] FOREIGN KEY([idPermiso])
REFERENCES [dbo].[Permiso] ([permisoId])
GO
ALTER TABLE [dbo].[Perfil_Permiso] CHECK CONSTRAINT [FK_PerfilPermiso_Permiso]
GO
ALTER TABLE [dbo].[PermisoFamilia]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Familia] FOREIGN KEY([familiaId])
REFERENCES [dbo].[Familia] ([familiaId])
GO
ALTER TABLE [dbo].[PermisoFamilia] CHECK CONSTRAINT [FK_PermisoFamilia_Familia]
GO
ALTER TABLE [dbo].[PermisoFamilia]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Permiso] FOREIGN KEY([permisoId])
REFERENCES [dbo].[Permiso] ([permisoId])
GO
ALTER TABLE [dbo].[PermisoFamilia] CHECK CONSTRAINT [FK_PermisoFamilia_Permiso]
GO
ALTER TABLE [dbo].[PesoHistorial]  WITH CHECK ADD  CONSTRAINT [FK_PesoHistorial_Alumno] FOREIGN KEY([dni])
REFERENCES [dbo].[Alumnos] ([dni])
GO
ALTER TABLE [dbo].[PesoHistorial] CHECK CONSTRAINT [FK_PesoHistorial_Alumno]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_RutinaEjercicio_Ejercicio] FOREIGN KEY([codEjercicio])
REFERENCES [dbo].[Ejercicio] ([codEjercicio])
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [FK_RutinaEjercicio_Ejercicio]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_RutinaEjercicio_Rutina] FOREIGN KEY([codRutina])
REFERENCES [dbo].[Rutinas] ([codRutina])
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [FK_RutinaEjercicio_Rutina]
GO
ALTER TABLE [dbo].[Rutinas]  WITH CHECK ADD  CONSTRAINT [FK_Rutinas_Actividad] FOREIGN KEY([codActividad])
REFERENCES [dbo].[Actividades] ([codActividad])
GO
ALTER TABLE [dbo].[Rutinas] CHECK CONSTRAINT [FK_Rutinas_Actividad]
GO
ALTER TABLE [dbo].[Rutinas]  WITH CHECK ADD  CONSTRAINT [FK_Rutinas_Alumno] FOREIGN KEY([dniAlumno])
REFERENCES [dbo].[Alumnos] ([dni])
GO
ALTER TABLE [dbo].[Rutinas] CHECK CONSTRAINT [FK_Rutinas_Alumno]
GO
ALTER TABLE [dbo].[Rutinas]  WITH CHECK ADD  CONSTRAINT [FK_Rutinas_Entrenador] FOREIGN KEY([dniEntrenador])
REFERENCES [dbo].[Entrenadores] ([dni])
GO
ALTER TABLE [dbo].[Rutinas] CHECK CONSTRAINT [FK_Rutinas_Entrenador]
GO
ALTER TABLE [dbo].[USUARIO_Contras]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioContras_Usuario] FOREIGN KEY([usr])
REFERENCES [dbo].[USUARIOS] ([usr])
GO
ALTER TABLE [dbo].[USUARIO_Contras] CHECK CONSTRAINT [FK_UsuarioContras_Usuario]
GO
ALTER TABLE [dbo].[USUARIO_Intentos]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioIntentos_Usuario] FOREIGN KEY([usr])
REFERENCES [dbo].[USUARIOS] ([usr])
GO
ALTER TABLE [dbo].[USUARIO_Intentos] CHECK CONSTRAINT [FK_UsuarioIntentos_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Perfil]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPerfil_Perfil] FOREIGN KEY([idPerfil])
REFERENCES [dbo].[Perfiles] ([idPerfil])
GO
ALTER TABLE [dbo].[Usuario_Perfil] CHECK CONSTRAINT [FK_UsuarioPerfil_Perfil]
GO
ALTER TABLE [dbo].[Usuario_Perfil]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPerfil_Usuario] FOREIGN KEY([usr])
REFERENCES [dbo].[USUARIOS] ([usr])
GO
ALTER TABLE [dbo].[Usuario_Perfil] CHECK CONSTRAINT [FK_UsuarioPerfil_Usuario]
GO
ALTER TABLE [dbo].[AlumnoRM]  WITH CHECK ADD  CONSTRAINT [CK_AlumnoRM_Peso] CHECK  (([pesoRM]>(0)))
GO
ALTER TABLE [dbo].[AlumnoRM] CHECK CONSTRAINT [CK_AlumnoRM_Peso]
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [CK_Alumnos_Peso] CHECK  (([peso] IS NULL OR [peso]>(0) AND [peso]<(500)))
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [CK_Alumnos_Peso]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [CK_Evento_Criticidad] CHECK  (([criticidad]=(4) OR [criticidad]=(3) OR [criticidad]=(2) OR [criticidad]=(1)))
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [CK_Evento_Criticidad]
GO
ALTER TABLE [dbo].[PesoHistorial]  WITH CHECK ADD  CONSTRAINT [CK_PesoHistorial_Peso] CHECK  (([peso]>(0) AND [peso]<(500)))
GO
ALTER TABLE [dbo].[PesoHistorial] CHECK CONSTRAINT [CK_PesoHistorial_Peso]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Descanso] CHECK  (([descansoSegundos] IS NULL OR [descansoSegundos]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Descanso]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Peso] CHECK  (([pesoLevantado]>=(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Peso]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Porcentaje] CHECK  (([porcentaje1RM] IS NULL OR [porcentaje1RM]>(0) AND [porcentaje1RM]<=(100)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Porcentaje]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Repeticiones] CHECK  (([repeticiones]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Repeticiones]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Series] CHECK  (([series]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Series]
GO
USE [master]
GO
-- =============================================
-- Tabla PrecioModalidad - Tipos de cuota mensual
-- =============================================
CREATE TABLE [dbo].[PrecioModalidad](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [DiasPorSemana] [int] NOT NULL,        -- 1, 2, 3 o 0 para "Diario"
    [EsDiario] [bit] NOT NULL,              -- 1 si es modalidad "Diario"
    [Precio] [decimal](10, 2) NOT NULL,
    [Activo] [bit] NOT NULL,
    [FechaModificacion] [datetime] NOT NULL,
    [dvv] [varchar](50) NOT NULL,
    [dvh] [varchar](50) NOT NULL,
    CONSTRAINT [PK_PrecioModalidad] PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Constraint de criticidad (solo 4 modalidades válidas)
ALTER TABLE [dbo].[PrecioModalidad] ADD CONSTRAINT [CK_PrecioModalidad_Dias] CHECK
    (([EsDiario] = 1 AND [DiasPorSemana] = 0)
    OR ([EsDiario] = 0 AND ([DiasPorSemana] = 1 OR [DiasPorSemana] = 2 OR [DiasPorSemana] = 3)))
GO

-- Constraint de precio mayor a 0
ALTER TABLE [dbo].[PrecioModalidad] ADD CONSTRAINT [CK_PrecioModalidad_Precio] CHECK
    ([Precio] > 0)
GO

-- Default para Activo
ALTER TABLE [dbo].[PrecioModalidad] ADD  DEFAULT ((1)) FOR [Activo]
GO

-- Default para FechaModificacion
ALTER TABLE [dbo].[PrecioModalidad] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO

-- Insertar las 4 modalidades base
INSERT INTO [dbo].[PrecioModalidad] ([DiasPorSemana], [EsDiario], [Precio], [Activo], [FechaModificacion], [dvv], [dvh])
VALUES
    (1, 0, 25000.00, 1, GETDATE(), '', ''),   -- 1 día por semana
    (2, 0, 29000.00, 1, GETDATE(), '', ''),   -- 2 días por semana
    (3, 0, 33000.00, 1, GETDATE(), '', ''),   -- 3 días por semana
    (0, 1, 44000.00, 1, GETDATE(), '', '')    -- Diario (todos los días)
GO

USE [master]
GO
