body {
    background-color: #FAECE7;
}
.BloqueRosa {
    display: flex;
    justify-content: center;
    top: 4rem;
    background: rgba(255, 115, 107, 0.48);
    border-radius: 0.9375rem;
    padding: 1.25rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    height: 30rem;
    width: 50%;
    margin: 4rem auto;
}

.formulario {
    text-align: center;
    margin-top: 3.5rem;
}

.titulo {
    font-family: 'Cherry Bomb One', cursive !important;
    color: #FAECE7;
    text-shadow: 0.15rem 0.15rem 1rem rgba(255, 115, 107, 0.2);
}

.btnFormLogIn {
    margin-top: 3rem;
    width: 100%;
    background-color: rgba(255, 115, 107, 0.8);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnFormLogIn:hover {
    background-color: darkred !important;
    transform: scale(1.02);
}